<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/class_%EA%B3%BC%EB%AA%A9%EB%B3%84%ED%95%A8%EC%88%98_240423.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = [[3, 20300401, 10, 8], [1, 20300104, 100, 80]]
ext =

In [ ]:
def solution(data, ext, val_ext, sort_by):
    answer = [[]]
    return answer

In [ ]:
"""1학년, 1반, 학생 20명
국어, 영어, 수학

점수 = {"1학년":
                {"1반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "2반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "3반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "4반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]}
                }
        }
점수["1학년"]["1반"]["국어"]"""