<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/class_%EA%B3%BC%EB%AA%A9%EB%B3%84%ED%95%A8%EC%88%98_240423.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = [[3, 20300401, 10, 8], [1, 20300104, 100, 80]]

In [ ]:
def solution(data, ext, val_ext, sort_by):
    answer = [[]]
    return answer

In [ ]:
"""1학년, 1반, 학생 20명
국어, 영어, 수학

점수 = {"1학년":
                {"1반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "2반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "3반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "4반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]}
                }
        }
점수["1학년"]["1반"]["국어"]"""

In [38]:
#속성
#동작 순서 -> 1. 점수파일(점수.txt) 2. 기능 작성(점수 - 등급, 점수 - 석차, 과목별 - 평균)
#3. 결과저장
import random
# import math
# import matplotlib.pyplot as plt
# import pickle

# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv
# !rm ~/.cache/matplotlib -rf

# plt.rc('font', family='NanumBarunGothic')
# plt.rcParams['axes.unicode_minus'] = False

In [53]:
# subject= ['국어', '영어','수학'] #과목
# year = ['1학년', '2학년', '3학년', '4학년'] #학년
# classroom= ['1반', '2반', '3반', '4반'] #반

number_stu = 20 #학생수
number_sub= 3 #과목수
number_year = 4 #학년수
number_class= 4 #반 수
# count1 = 10

class School:

    def __init__(self, number_stu, number_sub, number_year, number_class):
        self.number_stu = number_stu
        self.number_sub = number_sub
        self.number_year = number_year
        self.number_class = number_class

    def class_student(self):
        subject= ['국어', '영어','수학']
        year = ['1학년', '2학년', '3학년', '4학년']
        classroom= ['1반', '2반', '3반', '4반']
        _1학년 = {}
        for k in range(number_class):
            _1학년[classroom[0]] = {}
            for i in range(number_sub):
                _1학년[subject[0]] = {}
                과목점수_1 =[]
                for j in range(number_stu):
                    score = random.randint(0,100)
                    과목점수_1.append(score)
                    _1학년[number_class[k]][subject[i]] = 과목점수_1
        return subject, year, classroom
    def class_number(self, count1= 10):
        self.number_sub = 3

    # def year_1(self):
    #     year = ['1학년', '2학년', '3학년', '4학년']
    # def classroom_1(self):
    #     classroom= ['1반', '2반', '3반', '4반']

In [55]:
score_1 =[]

for b in range(20):
    score = random.randint(0, 100)
    score_1.append(score)

print(score_1)

[95, 98, 35, 10, 29, 96, 40, 35, 70, 60, 94, 77, 9, 89, 25, 49, 80, 15, 77, 64]

In [57]:
for y in year:
    print(y)

1학년
2학년
3학년
4학년

In [58]:
subject= ['국어', '영어','수학']
year = ['1학년', '2학년', '3학년', '4학년']
classroom= ['1반', '2반', '3반', '4반']
a_1 = [subject, year, classroom]

_1학년 = {}
for j in range(number_year):
    _1학년[year[j]] = {}
    for k in range(number_class):
        _1학년[year[j]][classroom[k]] = {}
        for i in range(number_sub):
            _1학년[year[j]][classroom[k]][subject[i]] = [score_1[b]]

            # for j in range(number_stu):
            #     score = random.randint(0,100)
            #     과목점수_1.append(score)
                # _1학년[number_class[k]][subject[i]] = 과목점수_1
print(_1학년)

{'1학년': {'1반': {'국어': [64], '영어': [64], '수학': [64]}, '2반': {'국어': [64], '영어': [64], '수학': [64]}, '3반': {'국어': [64], '영어': [64], '수학': [64]}, '4반': {'국어': [64], '영어': [64], '수학': [64]}}, '2학년': {'1반': {'국어': [64], '영어': [64], '수학': [64]}, '2반': {'국어': [64], '영어': [64], '수학': [64]}, '3반': {'국어': [64], '영어': [64], '수학': [64]}, '4반': {'국어': [64], '영어': [64], '수학': [64]}}, '3학년': {'1반': {'국어': [64], '영어': [64], '수학': [64]}, '2반': {'국어': [64], '영어': [64], '수학': [64]}, '3반': {'국어': [64], '영어': [64], '수학': [64]}, '4반': {'국어': [64], '영어': [64], '수학': [64]}}, '4학년': {'1반': {'국어': [64], '영어': [64], '수학': [64]}, '2반': {'국어': [64], '영어': [64], '수학': [64]}, '3반': {'국어': [64], '영어': [64], '수학': [64]}, '4반': {'국어': [64], '영어': [64], '수학': [64]}}}

In [30]:
a_1[0][0]
print(a_1)

[['국어', '영어', '수학'], ['1학년', '2학년', '3학년', '4학년'], ['1반', '2반', '3반', '4반']]

In [16]:
a = School(number_stu, number_sub, number_year, number_class)
print(a.class_student())

TypeError: 'int' object is not subscriptable

In [ ]:
c = School(number_stu, number_sub, number_year, number_class)

In [83]:
c = School(number_stu, number_sub, number_year, number_class)
# count1 = 10
c.class_number()
print(c.class_student())

TypeError: 'int' object is not subscriptable

In [ ]:
fig_0 = plt.figure(0)
ax = fig_0.add_axes([0,0,1,1])
ax.scatter(x = list(과목점수_1[0] for sample in 과목점수_1),
           y = list(과목점수_1[1] for sample in 과목점수_1),
           marker = '+', color = 'b')

ax.set_xlabel("특징1"); ax.set_ylabel("특징2")
pickle.dump(fig_0, open("samples_plot", 'wb'))

fig_0.canvas.draw()

In [46]:
M_1 = School()
M_1.class_student()

TypeError: School.__init__() missing 4 required positional arguments: 'number_stu', 'number_sub', 'number_year', and 'number_class'

In [33]:
# a_1 = School
# a_1.subject_1()
number_stu = 20 #학생수
number_sub= 3 #과목수
year = ['1학년', '2학년', '3학년', '4학년']
number_class= ['1반', '2반', '3반', '4반']
subject= ['국어', '영어','수학']


    # _1학년 = {}
    # for k in range(len(number_class)):
    #     _1학년[number_class[k]] = {}
_1학년 = {}
for k in range(len(number_class)):
    _1학년[number_class[k]] = {}
    for i in range(number_sub):
        과목점수_1 =[]
        for j in range(number_stu):
            score = random.randint(0,100)
            과목점수_1.append(score)
            _1학년[number_class[k]][subject[i]] = 과목점수_1

        print(과목점수_1)
print(_1학년)

[50, 48, 46, 35, 1, 52, 97, 41, 71, 29, 88, 97, 44, 52, 37, 36, 9, 42, 16, 89]
[84, 3, 87, 57, 34, 0, 84, 80, 46, 54, 50, 53, 55, 13, 50, 87, 58, 49, 4, 85]
[19, 70, 28, 77, 59, 6, 14, 38, 36, 97, 45, 51, 20, 27, 78, 86, 29, 43, 41, 61]
[26, 20, 87, 90, 92, 31, 61, 24, 47, 99, 33, 100, 82, 72, 93, 78, 34, 63, 73, 28]
[46, 27, 76, 11, 27, 11, 77, 76, 65, 61, 43, 63, 75, 42, 95, 7, 88, 83, 80, 78]
[88, 32, 34, 77, 8, 57, 13, 7, 48, 83, 66, 89, 68, 1, 69, 38, 11, 98, 4, 68]
[22, 18, 2, 17, 63, 50, 22, 46, 35, 32, 10, 6, 83, 38, 34, 40, 52, 44, 98, 83]
[44, 34, 11, 82, 90, 98, 16, 47, 60, 4, 80, 36, 57, 31, 14, 43, 70, 0, 65, 32]
[85, 31, 57, 41, 28, 60, 96, 26, 45, 31, 71, 48, 46, 60, 52, 82, 68, 91, 10, 33]
[100, 61, 79, 28, 20, 11, 36, 63, 65, 37, 61, 29, 16, 5, 35, 8, 42, 72, 8, 32]
[59, 60, 45, 58, 91, 65, 1, 91, 64, 32, 7, 82, 34, 7, 83, 33, 45, 33, 11, 80]
[78, 73, 45, 80, 41, 82, 39, 89, 20, 59, 6, 77, 47, 50, 69, 89, 79, 70, 72, 96]
{'1반': {'국어': [50, 48, 46, 35, 1, 52, 97, 41, 71, 29, 88, 97, 44, 52, 37, 36, 9, 42, 16, 89], '영어': [84, 3, 87, 57, 34, 0, 84, 80, 46, 54, 50, 53, 55, 13, 50, 87, 58, 49, 4, 85], '수학': [19, 70, 28, 77, 59, 6, 14, 38, 36, 97, 45, 51, 20, 27, 78, 86, 29, 43, 41, 61]}, '2반': {'국어': [26, 20, 87, 90, 92, 31, 61, 24, 47, 99, 33, 100, 82, 72, 93, 78, 34, 63, 73, 28], '영어': [46, 27, 76, 11, 27, 11, 77, 76, 65, 61, 43, 63, 75, 42, 95, 7, 88, 83, 80, 78], '수학': [88, 32, 34, 77, 8, 57, 13, 7, 48, 83, 66, 89, 68, 1, 69, 38, 11, 98, 4, 68]}, '3반': {'국어': [22, 18, 2, 17, 63, 50, 22, 46, 35, 32, 10, 6, 83, 38, 34, 40, 52, 44, 98, 83], '영어': [44, 34, 11, 82, 90, 98, 16, 47, 60, 4, 80, 36, 57, 31, 14, 43, 70, 0, 65, 32], '수학': [85, 31, 57, 41, 28, 60, 96, 26, 45, 31, 71, 48, 46, 60, 52, 82, 68, 91, 10, 33]}, '4반': {'국어': [100, 61, 79, 28, 20, 11, 36, 63, 65, 37, 61, 29, 16, 5, 35, 8, 42, 72, 8, 32], '영어': [59, 60, 45, 58, 91, 65, 1, 91, 64, 32, 7, 82, 34, 7, 83, 33, 45, 33, 11, 80], '수학': [78, 73, 45, 80, 41, 82, 39, 89, 20, 59, 6, 77, 47, 50, 69, 89, 79, 70, 72, 96]}}

In [17]:
number_stu = 20 #학생수
number_sub= 3 #과목수
number_year = 4 #학년수
number_class= 4 #반 수

class School:

    def __init__(self, number_stu, number_sub, number_year, number_class):
        self.number_stu = number_stu
        self.number_sub = number_sub
        self.number_year = number_year
        self.number_class = number_class
    # __init__(20, 3, 4, 4)
    xy_1 = School(number_stu=20, number_sub=3, number_year=4, number_class=4)
    print(xy_1.number_stu, xy_1.number_sub, xy_1.number_year, xy_1.number_class)

20 3 4 4

In [33]:
class Computer:

    maxprice2 = 100

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

c.__maxprice = 1000
c.sell()

c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000