<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/%EC%95%88%EC%97%B0%EC%88%98_list%EB%AC%B8%EC%A0%9C_240411.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "456"

a = list(a)
print(a)

print((1.1 + 2.2) == 3.3)
print(1.1 + 2.2)

['4', '5', '6']
False
3.3000000000000003

In [ ]:
#0~ 100을 리스트에 삽입, 0을 만나면 a 로 바꾸고 1을 만나면 b로 바꾸고 2를 만나면 c로 바꾼다.
#a b c 몇개 인지 출력

import random
random.randint(0,9)
# numbers = list(range(101))
numbers = random.randint(0, 9)
b = {0:'a', 1:'b', 2:'c', 3:'d', 4:'e', 5:'f', 6:'g', 7:'h', 8:'i', 9:'j'}
c = []

for i in range(0, 100):
    if numbers == 0:
        c.append(b[0])
    elif numbers == 1:
        c.append(b[1])
    elif numbers == 2:
        c.append(b[2])
    elif numbers == 3:
        c.append(b[3])
    elif numbers == 4:
        c.append(b[4])
    elif numbers == 5:
        c.append(b[5])
    elif numbers == 6:
        c.append(b[6])
    elif numbers == 7:
        c.append(b[7])
    elif numbers == 8:
        c.append(b[8])
    elif numbers == 9:
        c.append(b[9])

a_count = c.count('a') ; b_count = c.count('b') ; c_count = c.count('c') ; d_count = c.count('d');
e_count = c.count('e') ; f_count = c.count('f') ; g_count = c.count('g') ; h_count = c.count('h');
i_count = c.count('i') ; j_count = c.count('j') ;

print(f'a개의 갯수 : {a_count}')
print(f'b개의 갯수 : {b_count}')
print(f'c개의 갯수 : {c_count}')
print(f'd개의 갯수 : {d_count}')
print(f'e개의 갯수 : {e_count}')
print(f'f개의 갯수 : {f_count}')
print(f'g개의 갯수 : {g_count}')
print(f'h개의 갯수 : {h_count}')
print(f'i개의 갯수 : {i_count}')
print(f'j개의 갯수 : {j_count}')

a개의 갯수 : 0
b개의 갯수 : 0
c개의 갯수 : 0
d개의 갯수 : 0
e개의 갯수 : 0
f개의 갯수 : 0
g개의 갯수 : 100
h개의 갯수 : 0
i개의 갯수 : 0
j개의 갯수 : 0
k개의 갯수 : 0

In [ ]:
import random

a = []

for i in range(0, 100):
    a.append(random.randint(0, 9))

print(a)
print(len(a))

[3, 5, 8, 1, 7, 4, 6, 3, 2, 7, 6, 5, 8, 0, 1, 7, 9, 8, 4, 2, 8, 3, 3, 3, 5, 1, 4, 6, 4, 0, 0, 8, 4, 7, 0, 8, 2, 5, 2, 6, 5, 1, 3, 8, 6, 9, 6, 2, 1, 5, 8, 2, 1, 2, 3, 8, 7, 9, 4, 6, 0, 1, 9, 0, 6, 2, 5, 3, 6, 2, 7, 2, 3, 9, 6, 9, 8, 8, 3, 3, 8, 0, 0, 9, 3, 6, 3, 2, 8, 0, 1, 9, 1, 9, 6, 3, 0, 5, 1, 6]
100

In [ ]:
b = []

# for i in a:
#     if i == 0:
#         b.append('a')
#     elif i == 1:
#         b.append('b')

mapping_t = {0:'a', 1:'b', 2:'c', 3:'d', 4:'e', 5:'f', 6:'g', 7:'h', 8:'i', 9:'j'}

for i in a:
    b.append(mapping_t[i])
print(b)

['c', 'a', 'h', 'g', 'd', 'j', 'a', 'd', 'f', 'c', 'd', 'e', 'h', 'd', 'c', 'j', 'c', 'c', 'e', 'e', 'j', 'i', 'j', 'b', 'h', 'd', 'i', 'i', 'h', 'a', 'e', 'i', 'i', 'h', 'a', 'j', 'g', 'e', 'a', 'g', 'c', 'e', 'f', 'j', 'd', 'f', 'j', 'j', 'b', 'c', 'c', 'd', 'a', 'c', 'a', 'e', 'c', 'h', 'h', 'c', 'f', 'i', 'e', 'b', 'a', 'a', 'a', 'j', 'j', 'b', 'e', 'e', 'j', 'h', 'j', 'b', 'h', 'c', 'i', 'b', 'd', 'd', 'e', 'f', 'c', 'j', 'c', 'g', 'j', 'b', 'h', 'e', 'f', 'i', 'i', 'd', 'i', 'g', 'i', 'd']

In [ ]:
b.count('b')

for i in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']:
    print("{}의 갯수 : {}".format(i, b.count(i)))

a의 갯수 : 10
b의 갯수 : 7
c의 갯수 : 14
d의 갯수 : 11
e의 갯수 : 12
f의 갯수 : 6
g의 갯수 : 5
h의 갯수 : 10
i의 갯수 : 11
j의 갯수 : 14

In [ ]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

for y in range(100):
    if y % 2 == 0:
        if y % 5 == 0:
            y
            print(y)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
0
10
20
30
40
50
60
70
80
90

In [ ]:
[x+y for x in ['python', 'c'] for y in ['Lang' , 'Prog']]

['pythonLang', 'pythonProg', 'cLang', 'cProg']

In [ ]:
obj = ["Even" if i % 2 == 0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:
import random

for i in range(5):
    numbers = random.randint(0,10)
    print(numbers)

2
1
6
4
2

In [ ]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [ ]:
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
transpose = \
[[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [ ]:
 a= (1, 2, 3)
 b = 1, 2, 3

 print(type(a))
 print(type(b))

 a = ((1, 2, 3), 4, 5)
 a[0][0] = 0

 print(a)

<class 'tuple'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_dict = dict ({1:'apple', 2:'ball'})
print(my_dict)

my_dict = dict([(1, 'apple'), (2, 'ball')])
print(my_dict)

my_dict = dict([[1, 'apple'], [2, 'ball']])
print(my_dict)

my_dict = dict(((1, 'apple'), (2, 'ball')))
print(my_dict)

{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}

In [ ]:
list_1 = []
mapping_t = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

for i , v in enumerate(mapping_t):
    temp = [i, v]
    # list_1[mapping_t[i]] = v
    list_1.append(temp)
    # temp = [i, v]
    # list_1.append(i, v)

print(list_1)
print

[[0, 'a'], [1, 'b'], [2, 'c'], [3, 'd'], [4, 'e'], [5, 'f'], [6, 'g'], [7, 'h'], [8, 'i'], [9, 'j']]

In [ ]:
my_dict = {'name':'Jack', 'age':26}
my_dict['add'] = 'Dt'

print(my_dict)

{'name': 'Jack', 'age': 26, 'add': 'Dt'}

In [ ]:
f = open("/content/123.txt")
f.read(8)

'123\n456'

In [ ]:
import random
gender_list1 = ['남자', '여자']
high_list1 = [190, 170, 175, 160]
weight_list1 = [110, 70, 65, 50]

def _KNN(k, sd, t):
    return k, sd,t

# for i in range(100):
    numbers1 = random.sample(range(100),k = 2)
    numbers2 = random.sample(range(100),k = 4)
    numbers3 = random.sample(range(100),k = 4)

    print(numbers1)
    print(numbers2)
    print(numbers3)
    # numbers1 = random.sample(gender_list1,k =100)
    # numbers2 = random.sample(high_list1,k =100)
    # numbers3 = random.sample(weight_list1,k =100)
    # if gender_list1 == numbers1[0]:
    # elif high_list1 == numbers2[0]:
    # elif weight_list1 == numbers3[0]:



_KNN(100, 170, 65)
_KNN(100, 160, 50)

(100, 160, 50)

In [ ]:
import random
import math

samples = []

for i in range(100):
    m_w = random.randint(65,100)
    m_h = random.randint(170, 190)
    w_w = random.randint(50, 70)
    w_h = random.randint(150, 175)
    m = [m_w, m_h, '남']
    w = [w_w, w_h, '여']
    samples.append(m)
    samples.append(w)

In [ ]:
samples

In [ ]:
t_w = random.randint(65,100)
t_h = random.randint(170, 190)
t = [t_w, t_h]

d_g = []

for i in samples:
    d = math.sqrt((i[0]-t[0])**2 + (i[1]-t[1])**2)

    s_t = [d, i[2]]
    d_g.append(s_t)

for i in range(len(d_g)):
    for j in range(i+1, len(d_g)):
        if d_g[i][0] > d_g[j][0]:
            temp = d_g[j]
            d_g[j] = d_g[i]
            d_g[i] = temp

k = 10
c_m = 0; c_w = 0
for i in range(k):
    if d_g[i][1] == '남':
        c_m = c_m + 1
    elif d_g[i][1] == '여':
        c_w = c_w + 1

if c_m > c_w:
    print("몸무게: {}, 키: {}이고 성별은 {}로 예측.".format(t_w,t_h,"남"))
else:
    print("몸무게: {}, 키: {}이고 성별은 {}로 예측.".format(t_w,t_h,"여"))

    print(d_g)

몸무게: 83, 키: 184이고 성별은 남로 예측.

In [ ]:
def _KNN(samples, t, k=3):
    #거리 계산
    d_g = []

    for i in samples:
        d = math.sqrt((i[0]-t[0])**2 + (i[1]-t[1])**2)

        s_t = [d, i[2]]
        d_g.append(s_t)

    #거리 정렬
    for i in range(len(d_g)):
        for j in range(i+1, len(d_g)):
            if d_g[i][0] > d_g[j][0]:
                temp = d_g[j]
                d_g[j] = d_g[i]
                d_g[i] = temp

    #k개의 샘플로 예측
    #k = 10
    c_m = 0; c_w = 0
    for i in range(k):
        if d_g[i][1] == '남':
            c_m = c_m + 1
        elif d_g[i][1] == '여':
            c_w = c_w + 1

    _res = None
    if c_m > c_w:
        _res = '남'
    else:
        res = '여'

    return res

for i in range(10):
    t_w = random.randint(65,100)
    t_h = random.randint(170, 190)
    t = [t_w, t_h]
print("몸무게: {}, 키: {}이고 성별은 {}로 예측.".format(t_w,t_h,_KNN(samples, t, k=3),"남"))

TypeError: object of type 'int' has no len()

In [ ]:
#더 작은 값으로 정렬하는 법

a = [6, 2, 1, 5, 4, 3, 7, 9, 12]

for i in range(len(a)):
    for j in range(i+1, len(a)):
        # print(a[i], a[j])
        if a[i] > a[j]:
            temp = a[j]
            a[j] = a[i]
            a[i] = temp
        print(a[i], a[j])
print(a)

In [ ]:
#더 작은 값으로 정렬하는 법

a = [6, 2, 1, 5, 4, 3, 7, 9, 12]

for i in range(len(a)-1):
    for j in range(i+1, len(a)):
        # print(a[i], a[j])
        if a[i] > a[j]:
            temp = a[j]
            a[j] = a[i]
            a[i] = temp
        print(a[i], a[j])
print(a)

In [ ]:
# T = True; F=False
days = ('월', '화', '수', '목', '금')
ns = 5
t2 = [{'월':0, '화':0, '수':0, '목':0, '금':1},
      {'월':1, '화':0, '수':0, '목':0, '금':0},
      {'월':0, '화':1, '수':0, '목':0, '금':0},
      {'월':0, '화':0, '수':1, '목':0, '금':0},
      {'월':0, '화':0, '수':0, '목':1, '금':0}
]
n = None
while True:
    n = int(input("차량번호 끝자리(0~9) : "))
    if n >= 0 and n <= 9 :
        break
d = None
while True:
    d = input("요일(월~금) : ")
    if d in days:
        break

n = n % ns
if t2[n][d]:
    print("차량 5부제 해당")
else:
    print("차량 5부제 미해당")

차량번호 끝자리(0~9) : 1
요일(월~금) : 월
차량 5부제 해당

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import random
import math

sample_list = []
d_g = []

# k = 4

for i in range(500):
    human_h = random.randint(170, 190)
    human_w = random.randint(50, 70)
    human_list = [human_h, human_w]
    sample_list.append(human_list)

# k = 4  # 클러스터의 수
# model = KMeans(n_clusters=k)
# model.fit(sample_list)

for i in sample_list:
    d = math.sqrt((i[0]-t[0])**2 + (i[1]-t[1])**2)

    s_t = [d, i[1]]
    d_g.append(s_t)

for i in range(len(d_g)):
    for j in range(i+1, len(d_g)):
        if d_g[i][0] > d_g[j][0]:
            temp = d_g[j]
            d_g[j] = d_g[i]
            d_g[i] = temp

k = 4
c_m = 0; c_w = 0
for i in range(k):
    if d_g[i][1] == '남':
        c_m = c_m + 1
    elif d_g[i][1] == '여':
        c_w = c_w + 1

if c_m > c_w:
    print("몸무게: {}, 키: {}이고 성별은 {}로 예측.".format(t_w,t_h))
# else:
#     # print("몸무게: {}, 키: {}이고 성별은 {}로 예측.".format(t_w,t_h))

    print(d_g)


# print(model)
print(sample_list)
# print(len(sample_list))

[[179, 65], [181, 69], [181, 58], [171, 59], [182, 63], [183, 52], [184, 56], [186, 70], [175, 69], [176, 64], [170, 54], [179, 70], [180, 67], [173, 58], [184, 70], [173, 66], [186, 55], [178, 60], [175, 64], [187, 65], [187, 69], [176, 55], [187, 60], [185, 63], [174, 61], [180, 64], [183, 60], [172, 62], [190, 58], [171, 55], [184, 69], [188, 68], [184, 54], [172, 59], [190, 60], [184, 52], [172, 51], [174, 53], [174, 53], [174, 63], [181, 61], [176, 65], [182, 66], [173, 55], [175, 66], [173, 69], [178, 50], [180, 54], [190, 59], [180, 68], [173, 60], [171, 69], [176, 61], [170, 62], [173, 65], [184, 57], [187, 58], [174, 56], [182, 69], [175, 55], [189, 68], [173, 61], [189, 51], [179, 54], [184, 51], [179, 62], [182, 54], [176, 54], [177, 50], [175, 56], [185, 58], [181, 69], [176, 57], [174, 62], [186, 60], [186, 53], [178, 68], [182, 67], [171, 67], [179, 55], [177, 59], [186, 52], [176, 61], [173, 53], [173, 52], [171, 65], [185, 59], [181, 65], [190, 64], [172, 54], [187, 64], [183, 70], [175, 55], [170, 58], [181, 65], [173, 65], [183, 56], [176, 53], [181, 62], [175, 59], [175, 55], [190, 58], [187, 64], [187, 52], [185, 56], [172, 63], [186, 61], [176, 63], [170, 52], [171, 54], [177, 67], [186, 58], [184, 56], [174, 70], [177, 63], [181, 50], [179, 53], [181, 50], [174, 59], [189, 55], [186, 62], [178, 60], [188, 61], [172, 62], [172, 67], [180, 70], [170, 66], [177, 59], [178, 58], [174, 57], [190, 60], [186, 60], [175, 68], [175, 64], [178, 62], [183, 68], [176, 63], [183, 70], [177, 68], [170, 65], [185, 70], [178, 68], [179, 59], [170, 59], [189, 51], [175, 56], [175, 50], [178, 53], [173, 63], [175, 68], [180, 55], [180, 57], [190, 58], [185, 70], [172, 68], [183, 65], [181, 70], [182, 50], [187, 60], [173, 53], [176, 61], [170, 51], [178, 64], [180, 55], [174, 58], [179, 70], [188, 59], [176, 59], [189, 58], [176, 62], [170, 55], [187, 55], [176, 54], [187, 66], [172, 62], [173, 61], [174, 56], [178, 57], [173, 60], [174, 62], [179, 53], [178, 69], [170, 67], [181, 53], [185, 60], [175, 51], [176, 60], [184, 54], [185, 66], [175, 52], [185, 55], [178, 61], [183, 57], [178, 52], [178, 51], [183, 67], [182, 58], [188, 51], [181, 61], [187, 60], [182, 67], [170, 53], [186, 68], [187, 61], [188, 69], [174, 54], [174, 54], [183, 69], [186, 67], [176, 62], [178, 55], [180, 58], [184, 52], [179, 66], [174, 60], [173, 50], [189, 51], [186, 58], [186, 67], [185, 65], [173, 62], [185, 58], [188, 62], [180, 50], [174, 56], [173, 58], [174, 62], [178, 56], [181, 58], [188, 65], [188, 51], [181, 69], [176, 66], [178, 58], [186, 67], [186, 67], [173, 63], [190, 65], [180, 64], [176, 70], [180, 51], [188, 60], [175, 52], [190, 66], [190, 55], [172, 53], [187, 57], [188, 69], [180, 70], [173, 59], [182, 62], [190, 60], [189, 54], [179, 59], [185, 64], [180, 54], [190, 53], [178, 70], [190, 66], [182, 58], [170, 61], [172, 61], [187, 66], [185, 54], [173, 53], [186, 61], [189, 59], [187, 64], [187, 62], [185, 60], [185, 61], [176, 68], [176, 70], [172, 56], [174, 62], [188, 67], [174, 61], [172, 57], [175, 63], [187, 67], [176, 68], [181, 57], [187, 53], [177, 52], [170, 68], [182, 56], [179, 61], [178, 70], [184, 61], [183, 67], [172, 53], [173, 59], [189, 61], [177, 51], [176, 60], [190, 62], [188, 67], [181, 68], [185, 63], [170, 62], [172, 70], [178, 69], [175, 69], [185, 70], [185, 64], [188, 65], [179, 50], [175, 67], [181, 57], [188, 51], [172, 69], [172, 58], [183, 55], [177, 56], [184, 68], [172, 59], [184, 63], [189, 67], [175, 67], [185, 60], [182, 65], [173, 59], [181, 63], [172, 64], [174, 52], [178, 52], [178, 51], [174, 69], [180, 67], [185, 53], [175, 69], [182, 62], [176, 65], [184, 69], [189, 54], [188, 64], [187, 55], [179, 66], [173, 63], [188, 62], [172, 58], [175, 65], [188, 65], [177, 68], [187, 70], [182, 56], [182, 55], [179, 53], [173, 64], [177, 60], [190, 51], [182, 52], [189, 52], [179, 65], [177, 53], [175, 57], [175, 70], [186, 61], [189, 70], [181, 53], [183, 66], [177, 65], [170, 68], [179, 64], [180, 54], [182, 51], [182, 56], [190, 68], [187, 59], [180, 50], [174, 51], [172, 65], [184, 57], [186, 56], [176, 55], [171, 58], [182, 55], [181, 54], [170, 56], [178, 52], [174, 63], [184, 55], [186, 53], [187, 60], [190, 61], [183, 70], [174, 57], [187, 70], [177, 54], [190, 56], [177, 59], [179, 66], [171, 62], [177, 60], [173, 61], [176, 66], [188, 55], [187, 68], [175, 69], [184, 58], [172, 55], [180, 56], [190, 54], [170, 57], [179, 51], [187, 69], [180, 64], [173, 55], [183, 60], [172, 62], [181, 68], [184, 52], [183, 50], [182, 63], [180, 50], [189, 54], [185, 60], [183, 63], [183, 67], [189, 65], [176, 53], [184, 58], [174, 65], [187, 61], [183, 55], [189, 58], [189, 55], [181, 52], [180, 60], [186, 62], [189, 53], [189, 50], [182, 58], [174, 65], [173, 59], [189, 55], [175, 63], [177, 68], [179, 50], [179, 65], [188, 57], [181, 52], [178, 53], [187, 68], [180, 52], [186, 55], [188, 66], [173, 50], [188, 62], [176, 58], [179, 62], [178, 52], [172, 53], [184, 67], [178, 68], [185, 64], [174, 68], [176, 60], [187, 55], [184, 70], [190, 58], [189, 52], [178, 62], [181, 69], [180, 64], [172, 59], [190, 52], [179, 55], [181, 54], [175, 55], [171, 53], [187, 64], [180, 57], [176, 55], [189, 69], [171, 68], [182, 58], [172, 68], [178, 58], [180, 59], [184, 50], [185, 66], [174, 64], [187, 53], [171, 64], [180, 64], [172, 60], [184, 52], [181, 67], [185, 65], [184, 52], [188, 54], [183, 61], [172, 63], [185, 69], [179, 52], [188, 65], [177, 52], [170, 54], [179, 50]]

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import random
import math

sample_list = []
# d_g = []

# k = 4

for i in range(500):
    human_h = random.randint(170, 190)
    human_w = random.randint(50, 70)
    human_list = [human_h, human_w]
    sample_list.append(human_list)

k = 4  # 클러스터의 수
model = KMeans(n_clusters=k)
model.fit(sample_list)

centroids = model.cluster_centers_
labels = model.labels_

# for i in range(4):
#     while True:

print(len(labels))
print(labels)

# X= -2 * np.random.rand(500,2)
# X1 = 1 + 2 * np.random.rand(50,2)
# X[50:500, :] = X1
# plt.scatter(X[ : , 0], X[ :, 1], s = 50, c = 'b')
plt.show()

500
[3 1 0 3 2 3 2 3 0 3 3 1 2 0 3 3 2 1 2 3 0 1 1 1 3 3 3 2 0 0 0 3 1 0 3 1 0
 2 3 2 1 2 3 3 3 2 3 0 3 0 2 3 2 1 3 2 0 3 1 3 3 0 3 3 3 2 1 1 2 1 3 0 0 2
 2 2 3 1 3 1 0 0 1 0 1 2 1 1 3 0 1 3 0 3 0 0 1 2 1 1 3 0 2 2 2 0 2 2 0 1 0
 3 1 2 1 0 0 0 1 3 2 0 3 3 2 0 1 2 1 3 3 2 3 3 3 0 1 2 3 0 3 1 2 3 3 0 3 2
 0 1 1 0 2 2 1 1 0 3 0 2 3 1 1 0 3 2 0 0 3 3 3 3 1 2 3 0 3 2 3 0 0 3 3 3 2
 3 3 3 3 3 0 2 2 3 1 2 3 1 1 1 0 0 0 0 3 1 3 1 3 0 3 3 0 1 1 0 1 1 3 2 1 2
 0 0 0 3 2 3 3 0 2 1 2 1 2 0 3 3 2 0 2 1 0 3 0 2 1 1 2 2 2 3 0 0 2 1 2 0 2
 0 1 3 1 2 3 2 1 1 3 1 2 2 0 3 0 3 1 3 3 0 3 1 1 0 3 3 0 2 0 0 2 2 3 3 0 3
 3 1 0 2 0 1 0 2 2 1 0 1 3 1 2 1 1 3 3 2 3 3 2 1 2 2 2 2 2 0 1 3 0 0 1 0 0
 0 2 3 1 3 1 1 0 2 1 2 0 0 0 2 2 2 3 0 2 0 1 2 2 0 3 2 0 1 1 2 3 0 2 1 0 3
 0 0 0 2 1 2 1 0 0 1 2 1 2 0 0 1 0 3 3 3 0 1 0 3 1 1 1 2 0 2 0 2 0 1 2 0 3
 0 2 1 0 2 3 0 1 2 0 0 3 2 3 0 1 3 3 0 0 3 2 0 1 2 2 2 3 3 0 1 3 0 3 2 3 1
 1 1 0 3 2 0 3 0 0 0 2 1 1 1 2 3 3 3 0 1 2 2 2 0 3 2 3 2 1 0 3 1 3 3 1 2 3
 1 3 2 0 3 2 0 0 1 0 1 0 3 3 0 2 0 0 0]

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [8]:
samples = []

for i in range(100):
    m_w = random.randint(65, 100) + random.randint(-5, 5)
    m_h = random.randint(170, 190) + random.randint(-5, 5)
    w_w = random.randint(50, 70) + random.randint(-5, 5)
    w_h = random.randint(150, 175) + random.randint(-5, 5)
    m = [m_w, m_h, '남']
    w = [w_w, w_h, '여']
    samples.append(m)
    samples.append(w)

x = []

for s in samples:
    # print(s)
    x.append(s[0])

print(x)

y = list(s[0] for s in samples)
print(y)

[96, 46, 87, 59, 69, 56, 90, 54, 69, 72, 89, 69, 97, 55, 102, 62, 102, 55, 85, 50, 82, 51, 74, 66, 63, 72, 100, 60, 69, 71, 94, 57, 66, 66, 78, 62, 83, 52, 88, 62, 99, 63, 73, 57, 73, 59, 74, 62, 87, 70, 64, 65, 85, 68, 101, 69, 89, 50, 86, 48, 103, 49, 88, 61, 91, 53, 64, 49, 81, 59, 77, 53, 94, 53, 95, 57, 96, 58, 70, 63, 99, 46, 97, 70, 85, 51, 90, 53, 70, 55, 89, 61, 92, 49, 95, 63, 86, 48, 86, 62, 97, 65, 68, 64, 88, 68, 67, 69, 91, 51, 66, 69, 71, 60, 90, 73, 90, 63, 82, 65, 65, 67, 73, 50, 86, 55, 95, 51, 88, 72, 70, 59, 81, 69, 84, 61, 65, 57, 70, 57, 69, 58, 92, 72, 90, 56, 95, 62, 74, 50, 76, 62, 89, 72, 72, 55, 85, 63, 84, 63, 88, 52, 67, 70, 99, 61, 92, 64, 69, 66, 69, 64, 88, 59, 85, 70, 77, 58, 71, 53, 83, 66, 93, 58, 77, 67, 87, 65, 88, 63, 85, 63, 70, 50, 87, 59, 92, 58, 78, 59]
[96, 46, 87, 59, 69, 56, 90, 54, 69, 72, 89, 69, 97, 55, 102, 62, 102, 55, 85, 50, 82, 51, 74, 66, 63, 72, 100, 60, 69, 71, 94, 57, 66, 66, 78, 62, 83, 52, 88, 62, 99, 63, 73, 57, 73, 59, 74, 62, 87, 70, 64, 65, 85, 68, 101, 69, 89, 50, 86, 48, 103, 49, 88, 61, 91, 53, 64, 49, 81, 59, 77, 53, 94, 53, 95, 57, 96, 58, 70, 63, 99, 46, 97, 70, 85, 51, 90, 53, 70, 55, 89, 61, 92, 49, 95, 63, 86, 48, 86, 62, 97, 65, 68, 64, 88, 68, 67, 69, 91, 51, 66, 69, 71, 60, 90, 73, 90, 63, 82, 65, 65, 67, 73, 50, 86, 55, 95, 51, 88, 72, 70, 59, 81, 69, 84, 61, 65, 57, 70, 57, 69, 58, 92, 72, 90, 56, 95, 62, 74, 50, 76, 62, 89, 72, 72, 55, 85, 63, 84, 63, 88, 52, 67, 70, 99, 61, 92, 64, 69, 66, 69, 64, 88, 59, 85, 70, 77, 58, 71, 53, 83, 66, 93, 58, 77, 67, 87, 65, 88, 63, 85, 63, 70, 50, 87, 59, 92, 58, 78, 59]