<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/%EC%95%88%EC%97%B0%EC%88%98_list%EB%AC%B8%EC%A0%9C_240411.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = "456"

a = list(a)
print(a)

print((1.1 + 2.2) == 3.3)
print(1.1 + 2.2)

['4', '5', '6']
False
3.3000000000000003

In [49]:
#0~ 100을 리스트에 삽입, 0을 만나면 a 로 바꾸고 1을 만나면 b로 바꾸고 2를 만나면 c로 바꾼다.
#a b c 몇개 인지 출력

import random
random.randint(0,9)
# numbers = list(range(101))
numbers = random.randint(0, 9)
b = {0:'a', 1:'b', 2:'c', 3:'d', 4:'e', 5:'f', 6:'g', 7:'h', 8:'i', 9:'j'}
c = []

for i in range(0, 100):
    if numbers == 0:
        c.append(b[0])
    elif numbers == 1:
        c.append(b[1])
    elif numbers == 2:
        c.append(b[2])
    elif numbers == 3:
        c.append(b[3])
    elif numbers == 4:
        c.append(b[4])
    elif numbers == 5:
        c.append(b[5])
    elif numbers == 6:
        c.append(b[6])
    elif numbers == 7:
        c.append(b[7])
    elif numbers == 8:
        c.append(b[8])
    elif numbers == 9:
        c.append(b[9])

a_count = c.count('a') ; b_count = c.count('b') ; c_count = c.count('c') ; d_count = c.count('d');
e_count = c.count('e') ; f_count = c.count('f') ; g_count = c.count('g') ; h_count = c.count('h');
i_count = c.count('i') ; j_count = c.count('j') ;

print(f'a개의 갯수 : {a_count}')
print(f'b개의 갯수 : {b_count}')
print(f'c개의 갯수 : {c_count}')
print(f'd개의 갯수 : {d_count}')
print(f'e개의 갯수 : {e_count}')
print(f'f개의 갯수 : {f_count}')
print(f'g개의 갯수 : {g_count}')
print(f'h개의 갯수 : {h_count}')
print(f'i개의 갯수 : {i_count}')
print(f'j개의 갯수 : {j_count}')

a개의 갯수 : 0
b개의 갯수 : 0
c개의 갯수 : 0
d개의 갯수 : 0
e개의 갯수 : 0
f개의 갯수 : 0
g개의 갯수 : 100
h개의 갯수 : 0
i개의 갯수 : 0
j개의 갯수 : 0
k개의 갯수 : 0

In [80]:
import random

a = []

for i in range(0, 100):
    a.append(random.randint(0, 9))

print(a)
print(len(a))

[3, 5, 8, 1, 7, 4, 6, 3, 2, 7, 6, 5, 8, 0, 1, 7, 9, 8, 4, 2, 8, 3, 3, 3, 5, 1, 4, 6, 4, 0, 0, 8, 4, 7, 0, 8, 2, 5, 2, 6, 5, 1, 3, 8, 6, 9, 6, 2, 1, 5, 8, 2, 1, 2, 3, 8, 7, 9, 4, 6, 0, 1, 9, 0, 6, 2, 5, 3, 6, 2, 7, 2, 3, 9, 6, 9, 8, 8, 3, 3, 8, 0, 0, 9, 3, 6, 3, 2, 8, 0, 1, 9, 1, 9, 6, 3, 0, 5, 1, 6]
100

In [53]:
b = []

# for i in a:
#     if i == 0:
#         b.append('a')
#     elif i == 1:
#         b.append('b')

mapping_t = {0:'a', 1:'b', 2:'c', 3:'d', 4:'e', 5:'f', 6:'g', 7:'h', 8:'i', 9:'j'}

for i in a:
    b.append(mapping_t[i])
print(b)

['c', 'a', 'h', 'g', 'd', 'j', 'a', 'd', 'f', 'c', 'd', 'e', 'h', 'd', 'c', 'j', 'c', 'c', 'e', 'e', 'j', 'i', 'j', 'b', 'h', 'd', 'i', 'i', 'h', 'a', 'e', 'i', 'i', 'h', 'a', 'j', 'g', 'e', 'a', 'g', 'c', 'e', 'f', 'j', 'd', 'f', 'j', 'j', 'b', 'c', 'c', 'd', 'a', 'c', 'a', 'e', 'c', 'h', 'h', 'c', 'f', 'i', 'e', 'b', 'a', 'a', 'a', 'j', 'j', 'b', 'e', 'e', 'j', 'h', 'j', 'b', 'h', 'c', 'i', 'b', 'd', 'd', 'e', 'f', 'c', 'j', 'c', 'g', 'j', 'b', 'h', 'e', 'f', 'i', 'i', 'd', 'i', 'g', 'i', 'd']

In [58]:
b.count('b')

for i in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']:
    print("{}의 갯수 : {}".format(i, b.count(i)))

a의 갯수 : 10
b의 갯수 : 7
c의 갯수 : 14
d의 갯수 : 11
e의 갯수 : 12
f의 갯수 : 6
g의 갯수 : 5
h의 갯수 : 10
i의 갯수 : 11
j의 갯수 : 14

In [89]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

for y in range(100):
    if y % 2 == 0:
        if y % 5 == 0:
            y
            print(y)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
0
10
20
30
40
50
60
70
80
90

In [87]:
[x+y for x in ['python', 'c'] for y in ['Lang' , 'Prog']]

['pythonLang', 'pythonProg', 'cLang', 'cProg']

In [88]:
obj = ["Even" if i % 2 == 0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [91]:
import random

for i in range(5):
    numbers = random.randint(0,10)
    print(numbers)

2
1
6
4
2

In [96]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [97]:
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
transpose = \
[[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [106]:
 a= (1, 2, 3)
 b = 1, 2, 3

 print(type(a))
 print(type(b))

 a = ((1, 2, 3), 4, 5)
 a[0][0] = 0

 print(a)

<class 'tuple'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [113]:
my_dict = dict ({1:'apple', 2:'ball'})
print(my_dict)

my_dict = dict([(1, 'apple'), (2, 'ball')])
print(my_dict)

my_dict = dict([[1, 'apple'], [2, 'ball']])
print(my_dict)

my_dict = dict(((1, 'apple'), (2, 'ball')))
print(my_dict)

{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}

In [138]:
list_1 = []
mapping_t = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

for i , v in enumerate(mapping_t):
    temp = [i, v]
    # list_1[mapping_t[i]] = v
    list_1.append(temp)
    # temp = [i, v]
    # list_1.append(i, v)

print(list_1)
print

[[0, 'a'], [1, 'b'], [2, 'c'], [3, 'd'], [4, 'e'], [5, 'f'], [6, 'g'], [7, 'h'], [8, 'i'], [9, 'j']]

In [140]:
my_dict = {'name':'Jack', 'age':26}
my_dict['add'] = 'Dt'

print(my_dict)

{'name': 'Jack', 'age': 26, 'add': 'Dt'}

In [4]:
f = open("/content/123.txt")
f.read(8)

'123\n456'

In [6]:
import random
gender_list1 = ['남자', '여자']
high_list1 = [190, 170, 175, 160]
weight_list1 = [110, 70, 65, 50]

def _KNN(k, sd, t):
    return k, sd,t

# for i in range(100):
    numbers1 = random.sample(range(100),k = 2)
    numbers2 = random.sample(range(100),k = 4)
    numbers3 = random.sample(range(100),k = 4)

    print(numbers1)
    print(numbers2)
    print(numbers3)
    # numbers1 = random.sample(gender_list1,k =100)
    # numbers2 = random.sample(high_list1,k =100)
    # numbers3 = random.sample(weight_list1,k =100)
    # if gender_list1 == numbers1[0]:
    # elif high_list1 == numbers2[0]:
    # elif weight_list1 == numbers3[0]:



_KNN(100, 170, 65)
_KNN(100, 160, 50)

(100, 160, 50)

In [10]:
import random
import math

samples = []

for i in range(100):
    m_w = random.randint(65,100)
    m_h = random.randint(170, 190)
    w_w = random.randint(50, 70)
    w_h = random.randint(150, 175)
    m = [m_w, m_h, '남']
    w = [w_w, w_h, '여']
    samples.append(m)
    samples.append(w)

In [11]:
samples

[[81, 174, '남'],
 [54, 151, '여'],
 [92, 174, '남'],
 [63, 150, '여'],
 [71, 186, '남'],
 [60, 160, '여'],
 [70, 178, '남'],
 [59, 163, '여'],
 [99, 188, '남'],
 [69, 150, '여'],
 [83, 181, '남'],
 [58, 161, '여'],
 [97, 183, '남'],
 [64, 162, '여'],
 [94, 190, '남'],
 [57, 154, '여'],
 [96, 181, '남'],
 [52, 163, '여'],
 [96, 173, '남'],
 [62, 172, '여'],
 [79, 173, '남'],
 [55, 173, '여'],
 [80, 170, '남'],
 [53, 166, '여'],
 [65, 178, '남'],
 [58, 162, '여'],
 [88, 171, '남'],
 [52, 158, '여'],
 [72, 184, '남'],
 [63, 169, '여'],
 [87, 183, '남'],
 [69, 171, '여'],
 [80, 177, '남'],
 [53, 163, '여'],
 [90, 189, '남'],
 [60, 160, '여'],
 [87, 188, '남'],
 [60, 154, '여'],
 [69, 177, '남'],
 [55, 168, '여'],
 [90, 186, '남'],
 [50, 162, '여'],
 [98, 172, '남'],
 [52, 167, '여'],
 [88, 180, '남'],
 [59, 151, '여'],
 [65, 173, '남'],
 [61, 173, '여'],
 [67, 182, '남'],
 [70, 161, '여'],
 [71, 189, '남'],
 [65, 151, '여'],
 [68, 189, '남'],
 [51, 151, '여'],
 [83, 184, '남'],
 [54, 155, '여'],
 [82, 187, '남'],
 [60, 175, '여'],
 [100, 184, '남'],
 [62, 171, '여'],
 [100, 182, '남'],
 [50, 174, '여'],
 [88, 174, '남'],
 [60, 153, '여'],
 [77, 184, '남'],
 [66, 170, '여'],
 [92, 173, '남'],
 [68, 169, '여'],
 [98, 173, '남'],
 [60, 171, '여'],
 [94, 190, '남'],
 [64, 150, '여'],
 [97, 185, '남'],
 [50, 174, '여'],
 [98, 180, '남'],
 [59, 173, '여'],
 [84, 173, '남'],
 [66, 159, '여'],
 [98, 175, '남'],
 [55, 171, '여'],
 [65, 184, '남'],
 [69, 173, '여'],
 [90, 181, '남'],
 [51, 155, '여'],
 [91, 170, '남'],
 [54, 169, '여'],
 [84, 174, '남'],
 [68, 160, '여'],
 [67, 183, '남'],
 [50, 152, '여'],
 [98, 183, '남'],
 [60, 151, '여'],
 [70, 187, '남'],
 [65, 169, '여'],
 [75, 171, '남'],
 [53, 169, '여'],
 [67, 173, '남'],
 [65, 157, '여'],
 [90, 170, '남'],
 [61, 157, '여'],
 [79, 178, '남'],
 [62, 170, '여'],
 [71, 175, '남'],
 [70, 167, '여'],
 [73, 171, '남'],
 [50, 171, '여'],
 [99, 175, '남'],
 [50, 161, '여'],
 [80, 186, '남'],
 [55, 155, '여'],
 [98, 185, '남'],
 [68, 161, '여'],
 [67, 170, '남'],
 [58, 159, '여'],
 [96, 184, '남'],
 [60, 170, '여'],
 [87, 172, '남'],
 [51, 165, '여'],
 [70, 190, '남'],
 [67, 152, '여'],
 [70, 187, '남'],
 [66, 155, '여'],
 [94, 170, '남'],
 [70, 159, '여'],
 [70, 170, '남'],
 [69, 150, '여'],
 [78, 182, '남'],
 [60, 171, '여'],
 [71, 182, '남'],
 [58, 172, '여'],
 [97, 171, '남'],
 [66, 175, '여'],
 [88, 181, '남'],
 [50, 156, '여'],
 [81, 184, '남'],
 [61, 152, '여'],
 [87, 182, '남'],
 [63, 171, '여'],
 [80, 183, '남'],
 [54, 157, '여'],
 [93, 174, '남'],
 [66, 170, '여'],
 [92, 180, '남'],
 [58, 150, '여'],
 [80, 184, '남'],
 [57, 157, '여'],
 [77, 173, '남'],
 [50, 165, '여'],
 [89, 184, '남'],
 [59, 166, '여'],
 [68, 178, '남'],
 [63, 162, '여'],
 [84, 179, '남'],
 [62, 165, '여'],
 [68, 173, '남'],
 [65, 162, '여'],
 [86, 185, '남'],
 [59, 155, '여'],
 [92, 183, '남'],
 [57, 169, '여'],
 [85, 171, '남'],
 [55, 164, '여'],
 [74, 171, '남'],
 [64, 161, '여'],
 [66, 186, '남'],
 [58, 169, '여'],
 [85, 178, '남'],
 [52, 170, '여'],
 [93, 173, '남'],
 [66, 150, '여'],
 [74, 176, '남'],
 [58, 153, '여'],
 [79, 183, '남'],
 [69, 155, '여'],
 [87, 181, '남'],
 [57, 160, '여'],
 [80, 189, '남'],
 [58, 160, '여'],
 [79, 189, '남'],
 [51, 173, '여'],
 [88, 179, '남'],
 [57, 170, '여'],
 [71, 183, '남'],
 [55, 151, '여'],
 [91, 173, '남'],
 [52, 162, '여'],
 [96, 184, '남'],
 [67, 157, '여'],
 [82, 188, '남'],
 [56, 152, '여'],
 [99, 179, '남'],
 [56, 171, '여'],
 [65, 179, '남'],
 [59, 163, '여'],
 [100, 183, '남'],
 [52, 165, '여'],
 [94, 177, '남'],
 [70, 153, '여'],
 [90, 172, '남'],
 [65, 168, '여']]

In [14]:
t_w = random.randint(65,100)
t_h = random.randint(170, 190)
t = [t_w, t_h]

d_g = []

for i in samples:
    d = math.sqrt((i[0]-t[0])**2 + (i[1]-t[1])**2)

    s_t = [d, i[2]]
    d_g.append(d)
    print(d)

13.152946437965905
43.829214001622255
18.384776310850235
40.311288741492746
8.06225774829855
33.015148038438355
12.727922061357855
31.240998703626616
20.024984394500787
38.3275357934736
7.211102550927978
33.421549934136806
18.439088914585774
29.154759474226502
15.297058540778355
39.66106403010388
18.027756377319946
36.124783736376884
22.02271554554524
22.67156809750927
14.0
27.784887978899608
17.029386365926403
33.421549934136806
16.64331697709324
32.64965543462902
18.35755975068582
39.6232255123179
7.615773105863909
24.08318915758459
8.94427190999916
18.867962264113206
10.04987562112089
35.38361202590826
11.180339887498949
33.015148038438355
8.06225774829855
38.07886552931954
14.142135623730951
30.610455730027933
11.045361017187261
38.28837943815329
24.20743687382041
33.60059523282288
11.40175425099138
41.182520563948
19.79898987322333
22.80350850198276
13.0
27.51363298439521
8.246211251235321
38.62641583165593
11.180339887498949
45.60701700396552
5.0
40.607881008493905
3.0
22.47220505424423
21.213203435596427
23.345235059857504
21.587033144922902
31.78049716414141
15.811388300841896
38.948684188300895
3.605551275463989
21.400934559032695
19.1049731745428
21.095023109728988
23.600847442411894
24.839484696748443
15.297058540778355
39.92492955535426
18.110770276274835
31.78049716414141
20.248456731316587
24.413111231467404
14.866068747318506
30.870698080866262
22.47220505424423
28.844410203711913
14.317821063276353
17.204650534085253
12.529964086141668
42.5205832509386
20.808652046684813
30.805843601498726
13.92838827718412
29.154759474226502
12.649110640673518
45.45327270945405
19.4164878389476
40.70626487409524
9.0
22.80350850198276
16.492422502470642
31.622776601683793
18.439088914585774
33.1058907144937
20.248456731316587
34.9857113690718
9.0
24.041630560342615
14.422205101855956
21.93171219946131
17.08800749063506
33.12099032335839
23.323807579381203
38.948684188300895
1.4142135623730951
40.0
19.1049731745428
28.231188426986208
20.808652046684813
35.0
17.26267650163207
25.495097567963924
17.0
35.608987629529715
9.486832980505138
37.0
9.0
34.539832078341085
22.67156809750927
29.410882339705484
19.235384061671343
38.3275357934736
5.0990195135927845
24.839484696748443
9.433981132056603
25.80697580112788
24.08318915758459
17.69180601295413
10.816653826391969
42.44997055358225
3.605551275463989
39.35733730830886
9.433981132056603
22.627416997969522
4.123105625617661
39.05124837953327
19.1049731745428
21.400934559032695
14.7648230602334
42.5440947723653
3.1622776601683795
37.20215047547655
14.142135623730951
36.40054944640259
10.44030650891055
29.0
14.212670403551895
29.68164415931166
9.433981132056603
27.80287754891569
17.804493814764857
28.653097563788805
7.280109889280518
37.73592452822641
13.601470508735444
28.42534080710379
17.08800749063506
33.24154027718932
16.76305461424021
30.01666203960727
13.038404810405298
27.65863337187866
10.816653826391969
31.906112267087632
19.79898987322333
39.21734310225516
12.083045973594572
39.96248240537617
4.0
33.52610922848042
10.0
34.828149534535996
2.23606797749979
34.20526275297414
2.0
31.304951684997057
12.041594578792296
27.80287754891569
8.94427190999916
43.266615305567875
18.439088914585774
36.796738985948195
17.26267650163207
32.31098884280702
3.1622776601683795
41.88078318274385
21.540659228538015
28.0178514522438
16.1245154965971
31.240998703626616
21.37755832643195
34.828149534535996
18.027756377319946
35.17101079013795
18.601075237738275
23.600847442411894

In [ ]:
a= [2, 3, 1, 4, 6, 5]

In [2]:
# T = True; F=False
days = ('월', '화', '수', '목', '금')
ns = 5
t2 = [{'월':0, '화':0, '수':0, '목':0, '금':1},
      {'월':1, '화':0, '수':0, '목':0, '금':0},
      {'월':0, '화':1, '수':0, '목':0, '금':0},
      {'월':0, '화':0, '수':1, '목':0, '금':0},
      {'월':0, '화':0, '수':0, '목':1, '금':0}
]
n = None
while True:
    n = int(input("차량번호 끝자리(0~9) : "))
    if n >= 0 and n <= 9 :
        break
d = None
while True:
    d = input("요일(월~금) : ")
    if d in days:
        break

n = n % ns
if t2[n][d]:
    print("차량 5부제 해당")
else:
    print("차량 5부제 미해당")

차량번호 끝자리(0~9) : 1
요일(월~금) : 월
차량 5부제 해당