<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/%EC%95%88%EC%97%B0%EC%88%98_%EB%8C%80%ED%95%99%EC%BD%94%EB%93%9C%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
#1번 문제

data = {1, 2, 3, 4, 5}
for i , v in enumerate(data): #튜플 자료구조
    if v % 2 == 0:
        print(v)

2
4

In [3]:
#2번 문제

a = 10; b = 5

def fun1(num1, num2):
    return num1 + num2
print(fun1(a, b))

15

In [44]:
#3번 문제

print(list(filter(lambda x: print ("{}*{}={}".format(4, x, 4*x)) if x%2 == 0 else print ("condition not satisfied"), range(1, 10))))

condition not satisfied
4*2=8
condition not satisfied
4*4=16
condition not satisfied
4*6=24
condition not satisfied
4*8=32
condition not satisfied
[]

In [54]:
#4번 문제

def fun2(num):
    v1 = 0
    for i in range(num):
        v1 = v1 + i
    return v1
print(fun2(10))

45

In [39]:
# for x in range(1, 10):
#     a = int(x)

numbers = list(filter(lambda x: (x % 2 == 0), list(range(1,10))))

# x = numbers

print(numbers)

print("{} * {} = {}".format(4, x, 4*x))

[2, 4, 6, 8]
4 * [2, 4, 6, 8] = [2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [63]:
x = 4
print("{} * {} = {}".format(4, x, 4*x)) if x % 2 == 0 else print('error')

4 * 4 = 16

In [68]:
x = 4
print("{} * {} = {}".format(4, x, 4*x)); print('1') if x%2 == 0 else print('error')

4 * 4 = 16
1

In [81]:
# def f1():
#     return 1

# x = (f1(), print('2'), 2)
# print(x)

def f1():
    return 2

# x = (f1(), print('2'), 2)

x1 = f1()
x2 = None
x3 = 4

x = (x1, x2, x3)

print(x)

(2, None, 4)

첫달 28 입금

매달마다 6 입금

6 * 7 = 42

7개월간 매달 6만원 입금하면 28 + 42 = 70만원 됨

8만원 씩 매달 4달 입금 = 32만원

그래서 70 + 32만원

첫달 start  = 28

두번째달부터~ before = 6

목표치까지 도달할 금액 after = 8


완료 저축 금액 100만원까지

In [1]:
start = int(input("첫달 입금금액? = "))
before = int(input("두번째달 입금금액? = "))
after = int(input("7개월 후 입금금액? = "))

money = start
month = 1
while money < 70:
    money += before
    month += 1
while money < 100:
    money += after

    month += 1

print(month)

첫달 입금금액? = 28
두번째달 입금금액? = 6
7개월 후 입금금액? = 8
12

In [24]:
import random
random.randint(1, 6)

A_1 = random.randint(1, 6)

A_2 = random.randint(1, 6)

product_1 = ["벤츠", "아우디", "람보르기니", "BMW", "현대", "기아"]

product_2 = ["솥밥", "TV", "모니터", "컴퓨터", "프린터", "노트북"]

# print(A_1)

# print(A_2)

# for i in range(6):
#     if A_1 == product_1:

#     for x in range(6):
#         if A_2 == product_2:

#     print(A_1[product_1-1])

if A_1 == product_1[0] and A_2 == product_2[0]:
    print(product_1[0],product_1[A_1-1])
    print(product_2[0],product_2[A_2-1])

elif A_1 == product_1[1] and A_2 == product_2[1]:
    print(product_1[1],product_1[A_1-1])
    print(product_2[1],product_2[A_2-1])

elif A_1 == product_1[2] and A_2 == product_2[2]:
    print(product_1[2],product_1[A_1-1])
    print(product_2[2],product_2[A_2-1])

elif A_1 == product_1[3] and A_2 == product_2[3]:
    print(product_1[3],product_1[A_1-1])
    print(product_2[3],product_2[A_2-1])

elif A_1 == product_1[4] and A_2 == product_2[4]:
    print(product_1[4],product_1[A_1-1])
    print(product_2[4],product_2[A_2-1])

elif A_1 == product_1[5] and A_2 == product_2[5]:
    print(product_1[5],product_1[A_1-1])
    print(product_2[5],product_2[A_2-1])

elif A_1 == product_1[6] and A_2 == product_2[6]:
    print(product_1[6],product_1[A_1-1])
    print(product_2[6],product_2[A_2-1])

IndexError: list index out of range

In [12]:
import random
numA = random.randint(1, 6) ; numB = random.randint(1, 6)

product_1 = ["벤츠", "아우디", "람보르기니", "BMW", "현대", "기아"]
product_2 = ["벤츠", "아우디", "람보르기니", "BMW", "현대", "기아"]
product_3 = ["벤츠", "아우디", "람보르기니", "BMW", "현대", "기아"]
product_4 = ["벤츠", "아우디", "람보르기니", "BMW", "현대", "기아"]
product_5 = ["벤츠", "아우디", "람보르기니", "BMW", "현대", "기아"]
product_6 = ["벤츠", "아우디", "람보르기니", "BMW", "현대", "기아"]

product = [product_1, product_2, product_3, product_4, product_5, product_6]

print(product[numA-1][numB-1])

if numA == 1:
    print(product[numA-1][numB-1])
elif numA == 2:
    print(product[numA-1][numB-1])
elif numA == 3:
    print(product[numA-1][numB-1])
elif numA == 4:
    print(product[numA-1][numB-1])
elif numA == 5:
    print(product[numA-1][numB-1])
elif numA == 6:
    print(product[numA-1][numB-1])

기아
기아

In [33]:
gender_input = input("성별은? = ")

degree_input = input("학위는? = ")

salary_input = input("연봉은? = ")

# gender = ['남', '여']

degree = ['학사', '석사', '박사']

salary = ['3천', '5천', '7천', '8천', '1억']

rating = {'가':'A등급', '나':'B등급', '다':'C등급', '라':'D등급'}

# W_rating = ['A등급', 'B등급', 'C등급', 'D등급']

if  gender_input == "남" and degree[0] and salary[1]:
    print(rating['라'])
elif gender_input == "남" and degree[1] and salary[2]:
    print(rating['다'])
elif gender_input == "남" and degree[2] and salary[4]:
    print(rating['나'])
elif gender_input == "여" and degree[0] and salary[0]:
    print(rating['다'])
elif gender_input == "여" and degree[1] and salary[1]:
    print(rating['나'])
elif gender_input == "여" and degree[2] and salary[2]:
    print(rating['가'])

성별은? = 남
학위는? = 박사
연봉은? = 1억
D등급

In [36]:
gender_input = input("성별은? = ")

degree_input = input("학위는? = ")

salary_input = input("연봉은? = ")

# gender = ['남', '여']

degree = {'가':'학사', '나' : '석사', '다':'박사'}

salary = {'가' : '3천', '나': '5천', '다' : '7천', '라' : '8천', '마' : '1억'}

rating = {'가':'A등급', '나':'B등급', '다':'C등급', '라':'D등급'}

# W_rating = ['A등급', 'B등급', 'C등급', 'D등급']

if  gender_input == "남" and degree_input == degree['가'] and salary_input == salary['나']:
    print(rating['라'])
elif gender_input == "남" and degree_input == degree['나'] and salary_input == salary['다']:
    print(rating['다'])
elif gender_input == "남" and degree_input == degree['다'] and salary_input == salary['마']:
    print(rating['나'])
elif gender_input == "여" and degree_input == degree['가'] and salary_input == salary['가']:
    print(rating['다'])
elif gender_input == "여" and degree_input == degree['나'] and salary_input == salary['나']:
    print(rating['나'])
elif gender_input == "여" and degree_input == degree['다'] and salary_input == salary['다']:
    print(rating['가'])

성별은? = 남
학위는? = 석사
연봉은? = 7천
C등급