<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/%EC%95%88%EC%97%B0%EC%88%98_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list 메소드(method)

| |메소드|기능|
|:--|:---:|:--:|
|1|append(object)|기존 리스트 목록 끝에 1개 데이터 추가(2개 이상 추가 불가), (object) - tuple, list, dict 적용가능
|2|extend(interable)|기존 리스트의 모든 요소를 다른 리스트에 이어붙이기 가능, (interable) - tuple, list, dict 적용가능
|3|insert(index, object)|리스트의 정의 된 index 색인 위치에 object 값의 항목을 삽입한다, (index) - 요소를 삽입할 index 색인 위치, (object) - 리스트에 삽입되는 값의 항목
|4|remove(object)|리스트 목록에서 object 객체를 제거(1개 인자만 제거 가능), (object)-리스트 목록 안에 지울 요소 값
|5|pop(index)|주어진 인덱스에서 index에 기록된 정수의 인자를 제거 후 반환한다, (index)- 해당 요소의 위치
|6|clear(value, start, stop)|데이터를 삭제한 경우 이전에 리스트 데이터를 저장한 모든 변수의 데이터도 삭제가능
|7|index(object)|리스트 중에서 object가 몇 번째 index number 인지 알려주는 함수, (object)-index number로 반환할 특정 원소값
|8|count(object)|리스트 안에 object가 몇개 들어 있는 지 개수로 반환해주는 함수, (object)-리스트 안에 특정 원소값을 찾는 요소
|9|sort(key, reverse)|리스트의 객체들을 오름차순으로 순차적으로 정렬, (key)-정렬비교의 핵심 역할 기능, (reverse)-true이면 정렬 된 목록이 반대 또는 내림차순으로 정렬
|10|reverse()|리스트의 객체들 순서 반대로 바꾸는 함수
|11|copy()|리스트의 목록 객체들을 얕은 사본으로 복사

In [ ]:
#메소드 : append(object)
a= [1, 2, 3, 4]

a.append(5)
print(a)

list_a=[1, 2, 3, 4, 5]
list_a.append(6)
print(list_a)

a=[1,2,3]
b=[4,5]
a.append(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, [4, 5]]

In [ ]:
#메소드 : extend(interable)
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

a=[1,2,3]
b={4:6}
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]

In [ ]:
#메소드 : insert(index, object)
list_a = [1, 2, 3, 4, 5]

list_a.insert(3, 45)

print(list_a)

a = [1, 2, 3]

a.insert(0, '4')
print(a)

a = [1, 2, 3]
a.insert(1, (4, 5))
print(a)

[1, 2, 3, 45, 4, 5]
['4', 1, 2, 3]
[1, (4, 5), 2, 3]

In [ ]:
#메소드 : remove(object)
a = [1, 2, 3]
a.remove(1)
print(a)

a = [1, 2, 3, 1]
a.remove(1)
print(a)

a = [1, 2, 3, 1]
a.remove(4) #error

[2, 3]
[2, 3, 1]

ValueError: list.remove(x): x not in list

In [ ]:
#메소드 : pop(index)
a = [1, 2, 3]
a.pop(0)
print(a)

a = [1, 2, 3]
a.pop()
print(a)

a.pop()
print(a)

a.pop()
print(a)

primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
print(primes.pop())
print(primes.pop(0))
print(primes.pop(-1))
print(primes.pop(10)) #error

[2, 3]
[1, 2]
[1]
[]
29
2
23

IndexError: pop index out of range

In [ ]:
#메소드 : clear(value, start, stop)
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

primes.clear()
print(primes)

[]

In [ ]:
#메소드 : index(value)
a = [1, 2, 3, 1]
print(a.index(1))

list_a = [1, 2, 3, 4, 5]
list_b = ['g', 'i', 'l', 'l', 'o', 'g']

print(list_a.index(4))
print(list_b.index('l'))

0
3
2

In [ ]:
#메소드 : count(value)
a = [1, 2, 3, 1]
print(a.count(1))

list_a = [1, 2, 3, 4, 5]
list_b = ['g', 'i', 'l', 'l', 'o', 'g']
print(list_a.count(5))
print(list_b.count('l'))

2
1
2

In [ ]:
#메소드 : sort(key, reverse)
a = [5, 4, 3, 2, 1]
a.sort()
print(a)

a = [1, 2, 3, 4, 5]
a.sort(reverse = True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
#메소드 : reverse()
a = [1, 2, 3, 4, 5]
a.reverse()
print(a)

a = [5, 4, 3, 2, 1]
a.reverse()
a.reverse()
print(a)

list_b = ['d', 'i', 'l', 'l', 'o', 'g']
list_b.reverse()
print(list_b)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
['g', 'o', 'l', 'l', 'i', 'd']

In [ ]:
#메소드 : copy()
old_list = [1, 2, 3]
new_list = old_list.copy()

new_list.append('a')

print('Old List:', old_list)
print('New List:', new_list)

print(id(old_list))
print(id(new_list))

Old List: [1, 2, 3]
New List: [1, 2, 3, 'a']
134444329429760
134444820931584

tuple 메소드(method)

| |매소드|기능|
|:--|:---:|:--:|
|1|count(object)|튜플 내 요소의 개수 세기 가능, (object) - 리스트 안에 특정 원소값을 찾는 요소  
|2|index(object)|튜플 내 요소가 있는 위치 index 반환, (object) - index number로 반환할 특정 원소값

In [ ]:
#메소드 : count(object)
tuple1 = (1, 2, 3, 4, 5, 2, 2)
mse = tuple1.count(2)
print(mse)

my_tuple = (1, 2, 3, 2, 4, 5, 2)
print(my_tuple.count(2))

3
3

In [ ]:
#메소드 : index(object)
tuple2 = (1, 2, 4, 5, 6, 3, 8)
mse = tuple2.index(2)
print(mse)

my_tuple = (1, 2, 3, 2, 4, 5, 2, 9, 3, 7, 3)
print(my_tuple.index(3))

1
2

dictionary 메소드(method)

| |메소드|기능|
|:--|:---:|:--:|
|1|key()|딕셔너리 내의 모든 key 값을 출력(List 형태로 저장 가능)
|2|values()|딕셔너리 내의 모든 values 값 출력(List 형태로 저장 가능)
|3|items()|딕셔너리 내의 모든 key + values 값을 동시에 출력(List형태 저장 가능)
|4|clear()|딕셔너리 내의 모든 항목을 삭제
|5|copy()|딕셔너리 내의 {key:value} 항목을 복사
|6|get(key값)|해당 key 값에 해당하는 value값 반환, Key값이 없으면 None 반환
|7|pop(key값)|해당 key 값에 해당하는 value값 반환한 후 해당 항목 삭제, key값이 없으면 None 반환
|8|popitem()|임의의 key + value 값을 동시에 제거한 후 반환
|9|fromkeys(key, vaule)|새로 변수명으로 지정된 tuple, list, dictionary 자료구조와 value 값으로 신규 dictionary 생성
|10|update(dict2)|기존 dictionary 끝에 새로운 dictionary(dict2)를 추가

In [ ]:
#메소드 : key()
dict_1 = {'key1':123, 'key2':'abc', 'key3':(1, 2, 3)}
mse = dict_1.keys()
print(mse)

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
#메소드 : values()
dict_1 = {'key1':123, 'key2':'abc', 'key3':(1, 2, 3)}
mse = dict_1.values()
print(mse)

dict_values([123, 'abc', (1, 2, 3)])

In [ ]:
#메소드 : items()
dict_1 = {'key1':123, 'key2':'abc', 'key3':(1, 2, 3)}
mse = dict_1.items()
print(mse)

dict_items([('key1', 123), ('key2', 'abc'), ('key3', (1, 2, 3))])

In [ ]:
#메소드 : clear()
dict_1 = {'key1':123, 'key2':'abc', 'key3':(1, 2, 3)}
mse = dict_1.clear()
print(mse)

None

In [ ]:
#메소드 : copy()
dict_1 = {'key1':123, 'key2':'abc', 'key3':(1, 2, 3)}
dict_2 = dict_1.copy()
print(dict_2)

{'key1': 123, 'key2': 'abc', 'key3': (1, 2, 3)}

In [ ]:
#메소드 : get()
dict_1 = {'key1':123, 'key2':'abc', 'key3':(1, 2, 3)}
dict_2.get('key1', 'No_key')
dict_2.get('key5', 'No_key')
dict_2.get('key5') #None

In [ ]:
#메소드 : pop(key값)
my_dict = {"apple" : 5, "banana" : 3, "cherry" : 7}
value = my_dict.pop("banana")
print(value)
print(my_dict)

value = my_dict.pop("orange", None)
print(value)#key값이 없으면 None 반환

3
{'apple': 5, 'cherry': 7}
None

In [ ]:
#메소드 : popitem()
my_dict = {"apple" : 5, "banana" : 3, "cherry" : 7}
item = my_dict.popitem()
print(item)
print(my_dict)

('cherry', 7)
{'apple': 5, 'banana': 3}

In [ ]:
#메소드 : fromkeys(key, value)
keys = ['a', 'b', 'c']
new_dict = dict.fromkeys(keys, 0)
print(new_dict)

keys = ['x', 'y', 'z']
new_dict = dict.fromkeys(keys)
print(new_dict)

{'a': 0, 'b': 0, 'c': 0}
{'x': None, 'y': None, 'z': None}

In [ ]:
#메소드 : update(dict2)
dict_1 = {'key1':123, 'key2':'abc', 'key3':(1, 2, 3)}
dict_2 = {'key4':564, 'key5':'AYS', 'key6':[4,5,6]}
dict_1.update(dict_2)
print(dict_1)

{'key1': 123, 'key2': 'abc', 'key3': (1, 2, 3), 'key4': 564, 'key5': 'AYS', 'key6': [4, 5, 6]}