<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/%EC%95%88%EC%97%B0%EC%88%98_%ED%95%99%EB%85%84_%ED%95%99%EB%B0%98_%EA%B3%BC%EB%AA%A9%EB%B3%84_%ED%95%A8%EC%88%98%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 : 초등학교 성적프로그램 제작.
한 학년 반이 1반.2.3.4 총 4개의 반이 있음.
초등학교 6학년까지의 반이 있고
각 반에는 학생이 20명씩 있음.
국영수 시험을 을 보고 시험점수는 랜덤함수를 이용하여
질문 : 1학년의 국어점수의 평균을 어떻게 되냐 물어보면
국어점수에대한 평균에 대한 함수를 만들어서…
1 학년별 과목의 평균 점수
2 특정 반에 관한 과목의 평균 점수
3 학생의 등수를 만듦
4 학년별로 각 반의 최고점수와 최저점수

In [7]:
import random

In [8]:
subject_1 = ["국어", "영어", "수학"]

student_1 = ["1학년", "2학년", "3학년", "4학년", "5학년", "6학년"]

number_classroom = ["1반", "2반", "3반", "4반"]

student_year1 = {}

total_score = []

score1 = {}

student_class = 20
number_class = 4

for i in range(student_class):
    student_year1[number_classroom[0]] = {}
    for j in range(len(subject_1)):
        score = random.randint(0, 100)
        total_score.append(score)


print(total_score)
print(student_year1)
# print(total_score[0])
# print(total_score[1])
# print(total_score[2])

print(len(total_score))
        # print(j)
    # print(total_score)

# classroom_1 = {"국어":total_score[0], "영어":total_score[1], "수학":total_score[2]}
# print(classroom_1["국어"])

[27, 80, 27, 5, 67, 2, 11, 56, 52, 34, 37, 96, 17, 84, 14, 14, 30, 29, 94, 27, 52, 20, 32, 40, 39, 29, 36, 81, 68, 5, 49, 43, 16, 77, 79, 0, 2, 20, 0, 64, 29, 17, 13, 69, 25, 21, 69, 41, 48, 96, 90, 46, 5, 8, 27, 64, 56, 35, 71, 30]
{'1반': {}}
60

In [9]:
# _학생들 = {'1학년':{'1반':student_class, '국어':score}}

_학생들 = {student_1[0]:{number_classroom[0]:student_class, subject_1[0]:score}}

print(_학생들['1학년']['국어'])

for y in range(_학생들):
    print(y)


# print(student_year1)

# print(student_1)

# for y in student_1:
#     print(y)
# # print(temp1)

# _1반 = {"국어":total_score[0], "영어":total_score[1], "수학":total_score[2]}
# print(_1반["국어"])

# total_score = 0
# for score in _1반["국어"]:
#     total_score += score

# score_avg = total_score / len(_1반["국어"])
# print(score_avg)

30

TypeError: 'dict' object cannot be interpreted as an integer

In [ ]:
"""1학년, 1반, 학생 20명
국어, 영어, 수학

점수 = {"1학년":
                {"1반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "2반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "3반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]},
                 "4반":
                    {"국어":[],
                     "영어":[],
                     "수학":[]}
                }
        }
점수["1학년"]["1반"]["국어"]"""

In [4]:
str1, str2 = input().strip().split(' ')
print(str1+str2)

안 연
안연

In [8]:
start = int(input("첫달?"))
before = int(input("두번째?"))
# after = int(input("셋째?"))

money = start
month = 1
while money < 70:
    money += before
    month += 1
# while money < 100:
#     money += after
#     month += 1

print("70만원까지의 개월 수?",month)

첫달?28
두번째?6
70만원까지의 개월 수? 8

In [11]:
str, n = input().strip().split(' ')
n = int(n)
print(str*n)

string 5
stringstringstringstringstring

In [12]:
A = str
for i in range(n):
    temp = A+str
    print(temp)

stringstring
stringstring
stringstring
stringstring
stringstring

In [14]:
a= int(input("입력? "))

if a%2 == 0 : #짝수
    print(a, "a is even")
else: #홀수
    print(a, "a is odd")

입력? 3
3 a is odd

In [16]:
number = int(input('number: '))
n = int(input('n: '))
m = int(input('m: '))

def solution(number, n , m):
    answer = 0
    if 10 <= number <= 100 and 2 <= n < 10 and 2 <= m < 10:
        if number % n == 0 and number % m == 0:
            answer = 1
    return answer

result = solution(number, n, m)
print("Answer:", result)

number: 10
n: 3
m: 4
Answer: 0