<a href="https://colab.research.google.com/github/YEON2020/to_localtest/blob/main/%EC%95%88%EC%97%B0%EC%88%98_list%EB%AC%B8%EC%A0%9C_240411.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = "456"

a = list(a)
print(a)

print((1.1 + 2.2) == 3.3)
print(1.1 + 2.2)

['4', '5', '6']
False
3.3000000000000003

In [49]:
#0~ 100을 리스트에 삽입, 0을 만나면 a 로 바꾸고 1을 만나면 b로 바꾸고 2를 만나면 c로 바꾼다.
#a b c 몇개 인지 출력

import random
random.randint(0,9)
# numbers = list(range(101))
numbers = random.randint(0, 9)
b = {0:'a', 1:'b', 2:'c', 3:'d', 4:'e', 5:'f', 6:'g', 7:'h', 8:'i', 9:'j'}
c = []

for i in range(0, 100):
    if numbers == 0:
        c.append(b[0])
    elif numbers == 1:
        c.append(b[1])
    elif numbers == 2:
        c.append(b[2])
    elif numbers == 3:
        c.append(b[3])
    elif numbers == 4:
        c.append(b[4])
    elif numbers == 5:
        c.append(b[5])
    elif numbers == 6:
        c.append(b[6])
    elif numbers == 7:
        c.append(b[7])
    elif numbers == 8:
        c.append(b[8])
    elif numbers == 9:
        c.append(b[9])

a_count = c.count('a') ; b_count = c.count('b') ; c_count = c.count('c') ; d_count = c.count('d');
e_count = c.count('e') ; f_count = c.count('f') ; g_count = c.count('g') ; h_count = c.count('h');
i_count = c.count('i') ; j_count = c.count('j') ;

print(f'a개의 갯수 : {a_count}')
print(f'b개의 갯수 : {b_count}')
print(f'c개의 갯수 : {c_count}')
print(f'd개의 갯수 : {d_count}')
print(f'e개의 갯수 : {e_count}')
print(f'f개의 갯수 : {f_count}')
print(f'g개의 갯수 : {g_count}')
print(f'h개의 갯수 : {h_count}')
print(f'i개의 갯수 : {i_count}')
print(f'j개의 갯수 : {j_count}')

a개의 갯수 : 0
b개의 갯수 : 0
c개의 갯수 : 0
d개의 갯수 : 0
e개의 갯수 : 0
f개의 갯수 : 0
g개의 갯수 : 100
h개의 갯수 : 0
i개의 갯수 : 0
j개의 갯수 : 0
k개의 갯수 : 0

In [80]:
import random

a = []

for i in range(0, 100):
    a.append(random.randint(0, 9))

print(a)
print(len(a))

[3, 5, 8, 1, 7, 4, 6, 3, 2, 7, 6, 5, 8, 0, 1, 7, 9, 8, 4, 2, 8, 3, 3, 3, 5, 1, 4, 6, 4, 0, 0, 8, 4, 7, 0, 8, 2, 5, 2, 6, 5, 1, 3, 8, 6, 9, 6, 2, 1, 5, 8, 2, 1, 2, 3, 8, 7, 9, 4, 6, 0, 1, 9, 0, 6, 2, 5, 3, 6, 2, 7, 2, 3, 9, 6, 9, 8, 8, 3, 3, 8, 0, 0, 9, 3, 6, 3, 2, 8, 0, 1, 9, 1, 9, 6, 3, 0, 5, 1, 6]
100

In [53]:
b = []

# for i in a:
#     if i == 0:
#         b.append('a')
#     elif i == 1:
#         b.append('b')

mapping_t = {0:'a', 1:'b', 2:'c', 3:'d', 4:'e', 5:'f', 6:'g', 7:'h', 8:'i', 9:'j'}

for i in a:
    b.append(mapping_t[i])
print(b)

['c', 'a', 'h', 'g', 'd', 'j', 'a', 'd', 'f', 'c', 'd', 'e', 'h', 'd', 'c', 'j', 'c', 'c', 'e', 'e', 'j', 'i', 'j', 'b', 'h', 'd', 'i', 'i', 'h', 'a', 'e', 'i', 'i', 'h', 'a', 'j', 'g', 'e', 'a', 'g', 'c', 'e', 'f', 'j', 'd', 'f', 'j', 'j', 'b', 'c', 'c', 'd', 'a', 'c', 'a', 'e', 'c', 'h', 'h', 'c', 'f', 'i', 'e', 'b', 'a', 'a', 'a', 'j', 'j', 'b', 'e', 'e', 'j', 'h', 'j', 'b', 'h', 'c', 'i', 'b', 'd', 'd', 'e', 'f', 'c', 'j', 'c', 'g', 'j', 'b', 'h', 'e', 'f', 'i', 'i', 'd', 'i', 'g', 'i', 'd']

In [58]:
b.count('b')

for i in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']:
    print("{}의 갯수 : {}".format(i, b.count(i)))

a의 갯수 : 10
b의 갯수 : 7
c의 갯수 : 14
d의 갯수 : 11
e의 갯수 : 12
f의 갯수 : 6
g의 갯수 : 5
h의 갯수 : 10
i의 갯수 : 11
j의 갯수 : 14

In [89]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

for y in range(100):
    if y % 2 == 0:
        if y % 5 == 0:
            y
            print(y)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
0
10
20
30
40
50
60
70
80
90

In [87]:
[x+y for x in ['python', 'c'] for y in ['Lang' , 'Prog']]

['pythonLang', 'pythonProg', 'cLang', 'cProg']

In [88]:
obj = ["Even" if i % 2 == 0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [91]:
import random

for i in range(5):
    numbers = random.randint(0,10)
    print(numbers)

2
1
6
4
2

In [96]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [97]:
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
transpose = \
[[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [106]:
 a= (1, 2, 3)
 b = 1, 2, 3

 print(type(a))
 print(type(b))

 a = ((1, 2, 3), 4, 5)
 a[0][0] = 0

 print(a)

<class 'tuple'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [113]:
my_dict = dict ({1:'apple', 2:'ball'})
print(my_dict)

my_dict = dict([(1, 'apple'), (2, 'ball')])
print(my_dict)

my_dict = dict([[1, 'apple'], [2, 'ball']])
print(my_dict)

my_dict = dict(((1, 'apple'), (2, 'ball')))
print(my_dict)

{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}

In [136]:
list_1 = []
mapping_t = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

for i , v in enumerate(mapping_t):
    temp = [i, v]
    # list_1[mapping_t[i]] = v
    list_1.append(temp)
    # temp = [i, v]
    # list_1.append(i, v)

print(list_1)

[[0, 'a'], [1, 'b'], [2, 'c'], [3, 'd'], [4, 'e'], [5, 'f'], [6, 'g'], [7, 'h'], [8, 'i'], [9, 'j']]

In [137]:
my_dict = {'name':'Jack', 'age':26}
my_dict['add'] = 'Dt'

print(my_dict)

{'name': 'Jack', 'age': 26, 'add': 'Dt'}